!!! XML utf-8
%html
  %head
    %META(HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %meta(name="generator" content="Slide Show (S9)")
    %meta(name="author" content="Aaron Batalion")
    %meta(name="copyright" content="Copyright Reserved")
    %meta(name="font-size-adjustment" content="-2")
    %title Entrepreneur Perspective:

    %link(rel="stylesheet" href="stylesheets/slidy.css" type="text/css" media="screen, projection, print")
    %link(rel="stylesheet" href="stylesheets/takahashi-ext.css" type="text/css" media="screen, projection, print")
    %script(src="javascripts/slidy.js" charset="utf-8" type="text/javascript")
    :css
      #toolbar-logo {
        height:19px;
        width:91px;
        z-index:100;
        display:block;
        background:transparent url('images/ls_logo.png') no-repeat top left;
        }

  %body
    .background
    %div(class="background slanty")
    %div(class="slide cover title")
      .img_background
        %img(src="images/original.jpg")
      %div(class="cover-box opaque")
        %h1 Entrepreneur Perspective:
        %h2 Finding Your Business, The Pivot
        %h3 Aaron Batalion
        %h3 CTO & Co-Founder
        %h3 LivingSocial

    .slide
      .img_background
        %img(src="images/fork_in_the_road.jpg")
      %p(class="tl_quote") Your idea is probably wrong
      %p(class="c_quote")"A startup is a search for a scalable, repeatable business model"
      %p(class="br_quote" style="margin-top:3em") - Steve Blank, Four Steps to the Ephiphany

    .slide
      %h1 ddddddddddddáééÑÑÑÑAAAÀd
      %h2 dddddeeee
      %p(class="tl_quote") Your idea is probably wrong
